.game_field {
  --card-shirt: url("../resources/img/shirts/air_jordan.png");
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(var( --count-of-columns), 1fr);
  grid-gap: 20px;
}

.game_field__card {
    background-image: var(--card-shirt);
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 154px;
    min-height: 146px; 
    background-color: white;
    /* backface-visibility: hidden; */
}

/*Animation*/
@keyframes flipOut {
  from {
      transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
      background-image: var(--card-front);
  }
  40% {
      transform: perspective(400px) rotate3d(0, 1, 0, 100deg);
  }
  90% {
      transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
  }
  to {
      transform: perspective(400px);
      background-image: var(--card-shirt);
  }
}
@keyframes flipIn {
  from {
      transform: perspective(400px);
  }
  40% {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  90% {
      transform: perspective(400px) rotate3d(0, 1, 0, 190deg);
      background-image: var(--card-front);
     
  }
  to {
      transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
      background-image: var(--card-front);
  }
}

@keyframes flipInOut {
  from {
      transform: perspective(400px);
      background-image: var(--card-shirt);
  }
  20% {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  40% {
      transform: perspective(400px) rotate3d(0, 1, 0, 190deg);
      background-image: var(--card-front);
  }
  45% {
      transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
      background-image: var(--card-front);
  }
  55% {
      transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
      background-image: var(--card-front);
  }
  60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 100deg);
      background-image: var(--card-shirt);
  }
  90% {
      transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
      background-image: var(--card-shirt);
  }
  to {
      transform: perspective(400px);
      background-image: var(--card-shirt);
  }
}

@keyframes showAndRemove {
  from {
      visibility: visible;
      background-image: var(--card-shirt);
      transform: perspective(400px);
  }
  20% {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  60% {
      background-image: var(--card-front);
      transform: perspective(400px) rotate3d(0, 1, 0, 190deg);
  }
  70% {
      background-image: var(--card-front);
      transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
      opacity: 1;
  }
  to {
      background-image: var(--card-front);
      opacity: 0;
      visibility: hidden;
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes getOut {
  from {
      transform: rotate3d(0, 1, 0, 180deg);
      background-image: var(--card-front);
      opacity: 1;   
  }
  to {
      background-image: var(--card-front);
      opacity: 0;
      visibility: hidden;
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes move {
  from {
      transform: scale3d(1, 1, 1);
  }
  50% {
      transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
      transform: scale3d(1, 1, 1);
  }
}

.game_field__card[data-animation-style='flipInOut'] {
  animation-duration: 2s;
  animation-name: flipInOut;
}

.game_field__card[data-animation-style='move'] {
  animation: move 6s infinite linear;
  animation-timing-function: cubic-bezier(.24, 1.59, .29, -0.48);
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.game_field__card[data-animation-style='flipIn'] {
  animation-duration: 0.7s;
  animation-name: flipIn;
  animation-fill-mode: both;
}

.game_field__card[data-animation-style='flipOut'] {
  animation-name: flipOut;
  animation-delay: 0.5s;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.game_field__card[data-animation-style='getOut'] {
  animation-name: getOut;
  animation-delay: 0.7s;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.game_field__card[data-animation-style='showAndRemove'] {
  animation-name: showAndRemove;
  animation-duration: 1.2s;
}

/* .flipOut,
.flipIn,
.getOut,
.move,
.showAndRemove {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
.flipInOut {
  animation-duration: 2s;
  animation-name: flipInOut;
}
.move {
  animation: move 6s infinite linear;
  animation-timing-function: cubic-bezier(.24, 1.59, .29, -0.48);
}
.flipIn {
  animation-duration: 0.7s;
  animation-name: flipIn;
}
.flipOut {
  animation-name: flipOut;
  animation-delay: 0.5s;
}
.getOut {
  animation-name: getOut;
  animation-delay: 0.7s;
}
.showAndRemove {
  animation-name: showAndRemove;
  animation-duration: 1.2s;
} */